* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	scroll-behavior: smooth;
	--primary-color: #fff;
	--header-color: #4c4c4c;
	--background-color: ;
	--particle-gradient-color: linear-gradient(
		60deg,
		rgba(30, 94, 155, 1) 15%,
		rgba(102, 36, 97, 1) 90%
	);
}

body {
	position: relative;
	width: 100%;
	font-family: "Poppins", sans-serif;
}

#root {
	height: 300vh;
}

header {
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
}

header .desktop-header {
	display: none;
}

header .mobile-header ul li,
header .desktop-header ul li {
	list-style: none;
}

header .mobile-header ul li a,
header .desktop-header ul li a {
	font-size: 12px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--header-color);
	letter-spacing: 0.2em;
	transition: color 0.3s;
}

header .mobile-header ul li a:hover {
	color: #5b83cd;
}

header .desktop-header ul li a:hover {
	color: #c280bf;
}

header .mobile-header ul li a i {
	margin-right: 10px;
	color: #5b83cd;
	font-size: 14px;
}

header .desktop-header ul li a i {
	margin-right: 10px;
	color: #c280bf;
	font-size: 14px;
}

#nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	padding: 0 20px;
	width: 100%;
	z-index: 1;
	transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

#nav.active {
	background-color: #f8f5f8;
}

#nav .company_name,
#nav .menu {
	font-size: 36px;
}

#nav .company_name {
	font-weight: 800;
	font-style: italic;
	letter-spacing: -2px;
	text-transform: uppercase;
	background: linear-gradient(
		60deg,
		rgba(183, 41, 126, 1) 0%,
		rgba(43, 35, 91, 1) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#nav .mobile .menu {
	color: var(--primary-color);
	background: none;
	border: none;
	transition: color 1s;
	cursor: pointer;
}

#nav .desktop {
	display: none;
	margin-right: 10%;
}

#nav .desktop a,
#nav .desktop i {
	margin: 0 15px;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	color: var(--primary-color);
	cursor: pointer;
}

#nav.active .mobile .menu,
#nav.active .desktop a,
#nav.active .desktop i {
	color: #38235e;
}

#particles {
	position: absolute;
	top: 0;
	width: 100%;
	height: 450px;
	background: var(--particle-gradient-color);
	z-index: -1;
}

.container {
	margin-bottom: 50px;
	height: auto;
	color: var(--primary-color);
}
.container .top {
	display: flex;
	justify-content: space-between;
}

.container .top .promo-text {
	margin-left: 20px;
}

.container .top .promo-text h1 {
	position: relative;
	font-size: 48px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1.15;
	letter-spacing: -2.5px;
}
.container .top .promo-text h1 .small-text {
	position: absolute;
	right: 0;
	top: 45px;
	font-size: 10px;
	font-weight: 300;
	letter-spacing: normal;
}

.container .top .promo-text .active {
	animation: fadein 1s ease-in;
}

.container .top .social {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container .top .social .social-heading {
	font-weight: bold;
	letter-spacing: 3px;
	rotate: 90deg;
	margin-top: 30px;
}
.container .top .social .social-icons {
	display: flex;
	flex-direction: column;
}
.container .top .social .social-icons a {
	text-align: center;
	margin-top: 10px;
	padding: 5px;
	color: var(--primary-color);
}
.container .social .social-icons a .fa-facebook-f,
.container .social .social-icons a .fa-linkedin-in,
.container .social .social-icons a .fa-x-twitter {
	transition: color 0.3s;
}

.container .social .social-icons a .fa-facebook-f:hover,
.container .social .social-icons a .fa-linkedin-in:hover {
	color: #0866ff;
}

.container .social .social-icons a .fa-x-twitter:hover {
	color: #0f1419;
}

.container .bottom {
	display: flex;
	justify-content: center;
}

.container .bottom button {
	margin: 0 5px;
	padding: 5px;
	background: none;
	border: none;
	color: var(--primary-color);
	transition: text-decoration 3s;
	cursor: pointer;
}

.container .bottom button.active {
	text-decoration: overline;
}

.menu-modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--primary-color);
}
.menu-modal {
	display: flex;
	flex-direction: column;
	animation: fadein 0.3s 1 ease-in;
	height: 100vh;
}

.menu-modal button {
	font-size: 48px;
	padding: 0 18px;
	text-align: right;
	border: none;
	background: none;
}

.menu-modal button i {
	color: #38235e;
}

.menu-modal .links a {
	display: block;
	margin: 20px;
	color: var(--header-color);
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	letter-spacing: 2px;
}

#content {
	margin-top: 100px;
	text-align: center;
	color: var(--header-color);
}

#content h3 {
	font-weight: 300;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#content h2 {
	text-transform: uppercase;
	font-size: 32px;
	letter-spacing: 1.5px;
	word-wrap: break-word;
}

#content p {
	font-size: 14px;
}

@media screen and (min-width: 576px) {
	.mobile-header ul li {
		display: inline;
		margin: auto 20px;
	}
	.container {
		margin: 0 auto 50px;
		width: 85%;
	}
}

@media screen and (min-width: 768px) {
	header {
		display: flex;
		justify-content: space-between;
	}
	header .mobile-header ul li {
		text-align: left;
		display: block;
	}
	header .desktop-header {
		display: flex;
		align-items: center;
	}
	header .desktop-header ul li {
		margin-left: 40px;
		display: inline;
	}
	#particles {
		height: 480px;
	}
	.container {
		width: 90%;
	}
	.container .top .promo-text h1 {
		font-size: 58px;
		line-height: 1.05;
	}
	.container .top .promo-text h1 .small-text {
		top: 50px;
		font-size: 16px;
	}
	.container .top .social {
		font-size: 20px;
	}
}
@media screen and (min-width: 992px) {
	header {
		padding: 20px 50px;
	}
	header .mobile-header ul li {
		display: inline;
	}
	header .mobile-header ul li a i,
	header .desktop-header ul li a i {
		font-size: 20px;
	}
	#nav {
		padding: 0 50px;
	}
	#nav .mobile {
		display: none;
	}
	#nav .desktop {
		padding: 30px 0;
		display: block;
	}
	#particles {
		height: 700px;
	}
	.container {
		display: flex;
		width: 70%;
	}
	.container .top {
		width: 100%;
		order: 2;
	}
	.container .bottom {
		flex-direction: column;
		order: 1;
	}
	.container .bottom button {
		font-size: 20px;
		margin: 10px;
	}
	.container .top .promo-text h1 {
		font-size: 120px;
		letter-spacing: -6px;
	}
	.container .top .promo-text h1 .small-text {
		top: 110px;
		font-size: 30px;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes arrowMove {
	0% {
		top: 0px;
	}
	50% {
		top: 5px;
	}

	100% {
		top: 0px;
	}
}
