* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	scroll-behavior: smooth;
	--primary-color: #fff;
	--header-color: #4c4c4c;
	--background-color: ;
	--particle-gradient-color: linear-gradient(
		60deg,
		rgba(30, 94, 155, 1) 0%,
		rgba(170, 129, 167, 1) 100%
	);
}

body {
	position: relative;
	width: 100%;
	font-family: "Poppins", sans-serif;
}

#root {
	height: 300vh;
}

.mobile_header {
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
}

.mobile_header ul li {
	list-style: none;
}

.mobile_header ul li a {
	font-size: 12px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--header-color);
	letter-spacing: 0.2em;
}

.mobile_header ul li a i {
	margin-right: 10px;
	color: #5b83cd;
	font-size: 14px;
}

#nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	top: 0;
	padding: 0 20px;
	width: 100%;
	z-index: 1;
	transition: background-color 0.5s ease-in-out;
}

#nav.active {
	background-color: #f8f5f8;
}

#nav .company_name,
#nav .menu {
	font-size: 36px;
	padding: 0 5px;
}
#nav .company_name {
	font-weight: 800;
	font-style: italic;
	letter-spacing: -2px;
	text-transform: uppercase;
	background: linear-gradient(
		60deg,
		rgba(183, 41, 126, 1) 0%,
		rgba(43, 35, 91, 1) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#nav .menu {
	color: var(--primary-color);
	background: none;
	border: none;
	transition: color 1s;
	cursor: pointer;
}

#nav.active .menu {
	color: #38235e;
}

.particles {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}
#hero-bg {
	position: absolute;
	width: 100%;
	height: 450px;
	top: 0;
	background: var(--particle-gradient-color);
	z-index: -2;
}
.info {
	color: var(--primary-color);
}
.info .top {
	display: flex;
	justify-content: space-between;
}

.info .top .mott-text {
	margin-left: 20px;
}

.info .top .mott-text h1 {
	position: relative;
	font-size: 48px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1.15;
	letter-spacing: -2px;
}
.info .top .mott-text h1 .small-text {
	position: absolute;
	right: 0;
	top: 45px;
	font-size: 10px;
	font-weight: 300;
	letter-spacing: normal;
}

.info .top .mott-text .active {
	animation: fadein 2s ease-in;
}

.info .top .social {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.info .top .social .social-heading {
	font-weight: bold;
	letter-spacing: 3px;
	rotate: 90deg;
	margin-top: 30px;
}
.info .top .social .social-icons {
	display: flex;
	flex-direction: column;
}
.info .top .social .social-icons a {
	text-align: center;
	margin-top: 10px;
	padding: 5px;
	color: var(--primary-color);
}
.info .social .social-icons a .fa-facebook-f,
.info .social .social-icons a .fa-linkedin-in,
.info .social .social-icons a .fa-x-twitter {
	transition: color 0.3s;
}

.info .social .social-icons a .fa-facebook-f:hover,
.info .social .social-icons a .fa-linkedin-in:hover {
	color: #0866ff;
}

.info .social .social-icons a .fa-x-twitter:hover {
	color: #0f1419;
}

.info .bottom {
	display: flex;
	justify-content: center;
}

.info .bottom button {
	margin: 0 5px;
	padding: 5px;
	background: none;
	border: none;
	color: var(--primary-color);
	transition: text-decoration 3s;
	cursor: pointer;
}

.info .bottom button.active {
	text-decoration: overline;
}

.info .arrow {
	position: relative;
	height: 60px;
	width: 100%;
}

.info .arrow a i {
	position: absolute;
	margin-top: 10px;
	padding: 10px;
	left: 50%;
	font-size: 24px;
	color: var(--primary-color);
	transform: translateX(-50%);
	cursor: pointer;
}

.info .arrow a i:hover {
	animation: arrowMove 0.5s ease-in-out 1;
}

.modal {
	background-color: var(--primary-color);
}

@media screen and (min-width: 576px) {
	.mobile_header ul li {
		display: inline;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes arrowMove {
	0% {
		top: 0px;
	}
	50% {
		top: 5px;
	}

	100% {
		top: 0px;
	}
}
