* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	font-family: "Poppins", sans-serif;
	height: 300vh;
}

#root {
	
}

.mobile_header {
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid black;
	text-align: center;
}

.mobile_header ul li {
	list-style: none;
}

.mobile_header ul li a {
	padding: 0px 20px;
	font-size: 12px;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	color: #4c4c4c;
	line-height: 1.4px;
	letter-spacing: 0.2em;
}

.mobile_header ul li a i {
	margin-right: 16px;
	color: #5b83cd;
	font-size: 14px;
}

nav {
	position: sticky;
	top: 0;
	width: 100%;
	font-size: 36px;
	background-color: transparent;
}

.particles {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
}
#hero-bg {
	width: 100%;
	height: 480px;
	position: absolute;
	top: 0;
	background: linear-gradient(
		60deg,
		rgba(30, 94, 155, 1) 0%,
		rgba(170, 129, 167, 1) 100%
	);
	z-index: -1;
}

.info {
	display: flex;
	justify-content: space-between;
	height: 320px;
	color: #fff;
}

.info .mott-text {
	margin-top: 50px;
	margin-left: 20px;
	overflow: hidden;
}

.info .mott-text p {
	line-height: 1.15;
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	letter-spacing: -2px;
}

.info .social {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.info .social .social-heading {
	font-weight: bold;
	letter-spacing: 3px;
	rotate: 90deg;
	margin-top: 80px;
}
.info .social .social-icons {
	display: flex;
	flex-direction: column;
}
.info .social .social-icons a {
	text-align: center;
	margin: 2px 0;
	padding: 5px;
	color: #fff;
}
.info .social .social-icons a .fa-facebook-f,
.info .social .social-icons a .fa-linkedin-in,
.info .social .social-icons a .fa-x-twitter {
	transition: color 0.3s;
}

.info .social .social-icons a .fa-facebook-f:hover {
	color: #0866ff;
}

.info .social .social-icons a .fa-linkedin-in:hover {
	color: #0866ff;
}

.info .social .social-icons a .fa-x-twitter:hover {
	color: #0f1419;
}

@media screen and (min-width: 576px) {
	.mobile_header ul li {
		display: inline;
	}
}
